/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');


/*Reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hanken Grotesk';
    color: hsl(224, 30%, 27%);
}

body  {
   
}    

body {
    display: grid;
    place-items: center; /*Abreviatura de justify/align-items*/
    
    min-height: 100vh;
    
}

/*globals*/
.grid {
    display: grid;
    place-items: center;
}

.your-result, .result-summary {
    padding: 1.5rem;
}

/*inicio*/
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;     
    max-width: 46rem;
    gap: 1.2rem;
}

@media (max-width: 600px) {
    section {
        grid-template-columns: 1fr;     
    }
}

.your-result {
    gap: 2rem;
    border-radius: 3vh;
    background: linear-gradient(hsla(252, 100%, 67%), hsla(241, 81%, 54%));

    text-align: center;
}

.your-result h1 {
    color: hsl(241, 100%, 89%);

    font-weight: 500;
}

.circle-result {
    width: 12rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}

.circle-result p {
    color: hsl(0,0%,100%);

    font-size: 4em;
    font-weight: 700;
}

.circle-result span {
    display: block;
    font-size: .3em;
    font-weight: 500;
    color: hsl(241, 100%, 89%,.9);
}

.description-result h3 {
    font-size: 1.6em;
    font-weight: 500;
    color: hsl(0,0%,100%);
}

.description-result p {
    max-width: 70%;
    width: 100%;
    margin: .8rem auto 0;

    color: hsl(241, 100%, 89%,.9);
}


/*summary*/








